.content {
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 70%;
   align-items: center;
}

form {
    display: flex;
    border: 1px solid grey;
    border-radius: 1rem;
    width: min-content;
}

.text-input {
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    width: 20rem;
}

.submit {
    background-color: #0d6efd;
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: white;
    cursor: pointer;
    padding: 0 1rem;
}

.generated-text {
    margin: 1rem 0;
    font-size: 1.5rem;
}